/* Use a gradient as the background for the whole page */
body {
    background: linear-gradient(135deg, #c7503b,#a80404);
    font-family: Lato,sans-serif;
}

/* Add the worten logo a the top of the page */
/* https://stackoverflow.com/questions/12082948/resize-the-content-propertys-image */
#top:before {
	/* Display the logo in is own line */
	display: block;
	/* Define the width and height for the image to occupy */
    width: 250px;
	height: 80px;
	/* Needed to make the image appear */
	content: "";
	background: url("https://logosinside.com/uploads/posts/2016-09/medium/worten-logo.png") no-repeat;	
	/* Make it so the image rendering origin position is the top left of its box */
	background-origin: 0;
	/* Make it so x% of the image is resized to the size of the box */
	background-size: 100%;
	background-color: white;
	border: 2px solid black;
	margin-bottom: 30px;
}


/* Adjust the padding for the headers  */
#top, #date {
    margin-top: 17px;
    padding-left: 17px;
}


/* Style the paragraph with an anchor to the Catalog page */
.file-ref {
    border: 1px solid black;
    text-align: center;
    background-color: yellow;
    font-size: 105%;
    width: 10%;
    padding: 5px;
	font-weight: bold;
	margin-left: 17px;
}

/* Style the Log Out button */
#log-out {
    border: 1px solid black;
    text-align: center;
    background-color: yellow;
    font-size: 105%;
    width: 15%;
    padding: 5px;
	font-weight: bold;
	margin-left: 17px;
}


/* Make the a row thicker when hovering over it. This applies
    to any table */
tr:hover {
    border: 2px solid black;
}


/* The type of bullet used for list items is 'none'. Also add
    an extra 25px of padding to their right side */
li {
    padding-right: 25px;
    list-style-type: none;
}


/* Format each div, knowing that each div contains one table and a
    "Page Top" anchor */
div {
    background: linear-gradient(135deg, #46a3f0, #2036fc);
    padding: 5px 5px 10px 10px;
    margin: 15px;
    border: 2px solid black;
}
/* When hovering over a div, change its background and border */
div:hover {
    border: 3px solid black;
    background: linear-gradient(135deg, #46f0b7, #007552);
}


/* Format the first table's borders */
.table-summary {
    border-collapse: collapse;
    text-align: center;
    border: 2px solid black;
    background-color: white;
    color: black;
}
.table-summary th {
    border: 1px solid black;
}


/* Format the Clients/Sales table */
#clients-sales {
    border-collapse: collapse;
    text-align: center;
    border: 2px solid black;
    background-color: white;
    color: black;
}
#clients-sales th, #clients-sales td {
    border: 1px solid black;
    padding: 5px;
}
/* The even rows will have a different background
    color */
#clients-sales tr:nth-child(2n+2) {
    background-color: #c5c5c5;
}


/* Format the Clients table */
#clients {
    border-collapse: collapse;
    text-align: center;
    border: 2px solid black;
    background-color: white;
    color: black;
}
#clients th, #clients td {
    border: 1px solid black;
    padding: 5px;
}
/* The even rows will have a different background
    color */
#clients tr:nth-child(2n+2) {
    background-color: #c5c5c5;
}


/* Format the Sales table */
#sales {
    border-collapse: collapse;
    text-align: center;
    border: 2px solid black;
    background-color: white;
    color: black;
}
#sales th, #sales td {
    border: 1px solid black;
    padding: 5px;
}
/* The even rows will have a different background
    color */
#sales tr:nth-child(2n+2) {
    background-color: #c5c5c5;
}


/* Format the Products table */
#products {
    border-collapse: collapse;
    text-align: center;
    border: 2px solid black;
    background-color: white;
    color: black;
}
#products th, #products td {
    border: 1px solid black;
    padding: 5px;
}
/* The even rows will have a different background
    color */
#products tr:nth-child(2n+2) {
    background-color: #c5c5c5;
}


/* Format the Page Top anchor */
.top {
    width: 8%;
    border: 1px solid #a1a14d;
    background: yellow;
    text-decoration: none;
    text-align: center;
    position: relative;
    left: 1150px;
}
/* When hovering over the "Page Top" anchor, make its border thicker */
.top:hover {
    border: 2px solid #a1a14d;
}